In [3]:
import pandas as pd
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })

Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None. Удалите выбранные вами столбцы из таблицы customer_df.

In [8]:
def delete_columns(df, col=[]):
    for cc in col:
        if cc not in df.columns:
            return None
    return df.drop(col, axis=1)

In [9]:
display(delete_columns(customer_df, col=['number','cust_year_birth']))

   cust_id  cust_age  cust_sale  cust_order
0      128        13       0.00        1400
1     1201        21       0.00       14142
2     9832        19       0.20         900
3     4392        21       0.15        1240
4     7472        60       0.30        8430

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.

In [21]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

In [22]:
countries_df['population_density'] = (countries_df['population']*1e6)/countries_df['square']
display(countries_df)

     country  population    square  population_density
0     Англия       56.29    133396          421.976671
1     Канада       38.05   9984670            3.810842
2        США      322.28   9826630           32.796595
3     Россия      146.24  17125191            8.539467
4    Украина       45.50    603628           75.377550
5   Беларусь        9.50    207600           45.761079
6  Казахстан       17.04   2724902            6.253436

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах

In [24]:
print(round(countries_df['population_density'].mean(), 2))

84.93