In [7]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\oksaz\anaconda3\lib\site-packages (2.9.6)

In [8]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [9]:
import psycopg2
import pandas as pd

In [10]:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)

In [11]:
n = 10
query = f'''select *
           from sql.pokemon
           limit {n}
        '''

In [13]:
df = pd.read_sql_query(query, connection)
df

DatabaseError: Execution failed on sql 'select *
           from sql.pokemon
           limit 10
        ': relation "sql.pokemon" does not exist
LINE 2:            from sql.pokemon
                        ^